{% extends 'base.html' %}

{% block content %}
<form onsubmit="return sendMail(this);">
    <h3 class="text-center">Contact us</h3>
    <div class="row mt-4 justify-content-center">
        <div class="col col-xs-12 col-md-6">
            <div class="row mb-4">
                <div class="col">
                    <input type="text" name="email" class="form-control" placeholder="Your e-mail" required>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <textarea class="form-control" name="message" placeholder="Message" rows="3" required></textarea>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <button class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}